<div class="navbar-primary fixed-top">
    <div class="flex items-center justify-between w-full">
        <img src="assets/logo.png" style="width: 96px; height: 56px"/>
        <div class="ml-auto">
            <a>Home</a>
            <a>Introduction</a>
            <a>Product</a>
            <a>About</a>
        </div>
    </div>
</div>

<div class="md:hidden flex items-center justify-center navbar-secondary fixed-top">
    <img src="assets/logo.png" style="width: 96px; height: 56px"/>
</div>
<router-outlet></router-outlet>
