.navbar-primary {
    display: flex;
    align-items: center;
    padding: 1.5rem 5rem;
    text-transform: uppercase;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    transition: all 0.2s;

    &.active {
        background: white;
        color: black;
        transition: all 0.2s;
        padding: 0.5rem 5rem;

        a {
            padding: 0.25rem 0.75rem;
            color: black;
            transition: color 0.2s;

            &:hover {
                cursor: pointer;
                color: green;
            }
        }
    }

    a {
        padding: 0.25rem 0.75rem;
        color: white;
        transition: color 0.2s;

        &.active {
            color: green;
        }

        &:hover {
            cursor: pointer;
            color: black;
        }
    }

    @media (max-width: 640px) {
        display: none;
    }
}

.navbar-secondary {
    padding: 1.5rem 5rem;
    text-transform: uppercase;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    transition: all 0.2s;

    &.active {
        background: white;
        color: black;
        transition: all 0.2s;
        padding: 0.5rem 5rem;
    }
}

.bottom-navbar {
    border: 1px solid #f5f5f5;
    background: #fcfdff;
    padding: 8px 5px 5px 5px;

    .bottom-nav-item {
        text-align: center;
        color: #777;

        &.active {
            color: green;
        }

        .nav-icon {
            background: white;
            min-height: 28px;
            min-width: 28px;
            height: 28px;
            width: 28px;
        }
    }
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

