<div class="navbar-primary {{ navbarActive === true ? 'active' : '' }} fixed-top">
    <div class="flex items-center justify-between w-full">
        <img src="assets/logo.png" style="width: 96px; height: 70px"/>
        <div class="ml-auto">
            <a class="{{ activeNav === 'home' ? 'active' : '' }}" (click)="scrollTo(jumbotron)">Home</a>
            <a class="{{ activeNav === 'intro' ? 'active' : '' }}" (click)="scrollTo(intro)">Introduction</a>
            <a class="{{ activeNav === 'product' ? 'active' : '' }}" (click)="scrollTo(product)">Product</a>
            <a class="{{ activeNav === 'faq' ? 'active' : '' }}" (click)="scrollTo(faq)">FAQ</a>
        </div>
    </div>
</div>

<div class="md:hidden flex items-center justify-center navbar-secondary {{ navbarActive === true ? 'active' : '' }} fixed-top">
    <img src="assets/logo.png" style="width: 96px; height: 75px"/>
</div>

<div class="bottom-navbar fixed-bottom grid grid-cols-4 rounded-tl-lg rounded-tr-lg md:hidden">
    <div (click)="scrollTo(jumbotron)" class="nav-item {{ activeNav === 'home' ? 'active' : '' }}">
        <div class="flex items-center justify-center">
            <fa-icon class="nav-icon" [icon]="faHome"></fa-icon>
        </div>
    </div>
    <div (click)="scrollTo(intro)" class="nav-item {{ activeNav === 'intro' ? 'active' : '' }}">
        <div class="flex items-center justify-center">
            <fa-icon class="nav-icon" [icon]="faQuoteRight"></fa-icon>
        </div>
    </div>
    <div (click)="scrollTo(product)" class="nav-item {{ activeNav === 'product' ? 'active' : '' }}">
        <div class="flex items-center justify-center">
            <fa-icon class="nav-icon" [icon]="faBox"></fa-icon>
        </div>
    </div>
    <div (click)="scrollTo(faq)" class="nav-item {{ activeNav === 'faq' ? 'active' : '' }}">
        <div class="flex items-center justify-center">
            <fa-icon class="nav-icon" [icon]="faQuestion"></fa-icon>
        </div>
    </div>
</div>

<div #jumbotron class="jumbotron">
    <div class="text-container text-center">
        <div class="mb-8">
            <h1>Supplying The Best Avocado Around The World</h1>
            <h1>For YOU</h1>
        </div>
        <p class="leading-7 tracking-wide">IndoAvocado is a company that is specialized in distributing top quality Avocado from various regions of Indonesia right to your doorsteps</p>
    </div>
</div>

<div #intro class="introduction-section">
    <div class="xl:grid xl:grid-cols-2 grid-cols-1">
        <div class="xl:flex xl:items-center xl:justify-center">
            <div>
                <div>
                    <h2 class="text-3xl font-bold">Introduction</h2>
                </div>
                <div>
                    <p class="intro-first md:w-3/4 mt-3">
                        We Only offer the best Indonesia Avocadoes all around the Globe
                    </p>
                    <p class="intro-second w-full mt-2">
                        <span>IndoAvocado has several partnerships with Avocado Plantations all around Indonesia, we are experienced in everything there is to know about Avocadoes. Customer Satisfaction is a top priority to us, with that said we will provide you with the supplies you need.</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="hidden xl:flex">
            <div class="mt-4 xl:mt-0 xl:flex xl:items-center xl:ml-auto xl:justify-center xl:justify-end w-full xl:w-auto">
                <div class="introduction-images xl:flex xl:items-center xl:justify-between w-full xl:w-auto text-center">
                    <img class="image-1 xl:absolute" src="assets/image01.jpeg"/>
                    <img class="image-2 xl:absolute" src="assets/image02.jpeg"/>
                    <img class="image-3 xl:ml-auto" src="assets/image03.jpeg"/>
                </div>
            </div>
        </div>
        <div class="xl:hidden mt-8 flex justify-center w-full">
            <carousel [autoplay]="false" [arrows]="false" [cellsToShow]="1" [width]="300" [height]="250">
                <div class="carousel-cell">
                    <img style="object-fit: cover !important;" class="image-1 xl:absolute" src="assets/image01.jpeg"/>
                </div>
                <div class="carousel-cell">
                    <img style="object-fit: cover !important;" class="image-2 xl:absolute" src="assets/image02.jpeg"/>
                </div>
                <div class="carousel-cell">
                    <img style="object-fit: cover !important;" class="image-3 xl:absolute" src="assets/image03.jpeg"/>
                </div>
            </carousel>
        </div>
    </div>
</div>

<div #product class="product-section">
    <div class="product-child grid xl:grid-cols-2 grid-cols-1">
        <div class="w-full">
            <img src="assets/product.jpeg" class="w-full mb-4 xl:mb-0"/>
        </div>
        <div class="desc-wrapper flex justify-start">
            <div class="desc-text">
                <h2>Produced by top avocado farms in Indonesia.</h2>
                <p> There are some factors that can make a good avocado. We can conclude whether an avocado is good or
                    not by judging based on its color, dark green to nearly black skin avocados are riped and ready to eat.
                    The taste of a good avocado should be rich and buttery with a creamy texture that will melt in your mouth
                    once eaten. You can also tell by feeling the texture of the skin, good avocado have a bumpy texture whereas
                    unripe avocados have softer skin and can easily bruised if applied to much pressure.
                </p>
            </div>
        </div>
    </div>
    <div class="product-child grid xl:grid-cols-2 grid-cols-1">
        <div class="w-full md:hidden">
            <img src="assets/farm.jpeg" class="w-full"/>
        </div>
        <div class="desc-wrapper flex justify-start order-2 xl:order-1">
            <div class="desc-text">
                <h2>Maintained by trusted hands.</h2>
                <p>
                    We as a company made sure that our farmers produce good quality avocado. Quality Control is a top priority for us. There are several factors that will make a good avocado tree. Fertilizing , Density of the soil, and Climate. Are some of the things that will affect the growth of an Avocado Tree.
                </p>
            </div>
        </div>
        <div class="w-full md:flex hidden order-1 xl:order-2 mb-4 xl:mb-0">
            <img src="assets/farm.jpeg" class="w-full"/>
        </div>
    </div>
    <div class="product-child grid xl:grid-cols-2 grid-cols-1">
        <div class="w-full mb-4 xl:mb-0">
            <img src="assets/market.jpeg" class="w-full"/>
        </div>
        <div class="desc-wrapper flex justify-start">
            <div class="desc-text">
                <h2>Largest avocado market in the world.</h2>
                <p> Indonesia is one of the worlds leading suppliers of Avocado with and estimated amount of
                    600 thousand tons produced a year. The harvesting is achieved manually by a picker climbing the tree and taking a basket or jute bag. The fruits are picked selectively by hired laborers or the owner. Only the mature fruits, which show dull appearance, are picked. Some pickers use to shake the fruits to see whether the seeds are not clinging any more, looking for a sign of maturity. The quality of the fruits is determined by the maturity of the fruit. The mature fruits contain more fat and vitamin A.
                </p>
            </div>
        </div>
    </div>
</div>

<div #faq class="faq-section">
    <div class="w-full text-center mb-8">
        <h1>Frequently Asked Questions</h1>
        <p class="mt-3">How can we help you?</p>
    </div>
    <button (click)="handleFaqClicked(panel1, '1')" class="accordion">How can we get the price list?<fa-icon class="ml-auto chevron-icon {{ (panel1.style.maxHeight === '0px' || !panel1.style.maxHeight) ? '' : 'active' }}" [icon]="faChevronDown"></fa-icon></button>
    <div #panel1 class="panel {{ (panel1.style.maxHeight === '0px' || !panel1.style.maxHeight) ? '' : 'active' }}">
        <p>You can get our price list by contacting us via our <a href="https://wa.me/6287877242041" target="_blank" style="color: #0587eb !important;" class="font-semibold cursor-pointer">whatsapp</a> and then we will make sure to respond your message within 1x24hr </p>
    </div>

    <button (click)="handleFaqClicked(panel2, '2')" class="accordion">How can we know that your product is good? <fa-icon class="ml-auto chevron-icon {{ (panel2.style.maxHeight === '0px' || !panel2.style.maxHeight) ? '' : 'active' }}" [icon]="faChevronDown"></fa-icon></button>
    <div #panel2 class="panel {{ (panel2.style.maxHeight === '0px' || !panel2.style.maxHeight) ? '' : 'active' }}">
        <p>WE make sure that the product quality are maintained only by us. 100% of our avocados will be the best avocado around the world. We only pick the best avocados from Indonesia which is one of the best avocado producer in the world</p>
    </div>
</div>


<div class="footer">
    <div class="grid md:grid-cols-3 grid-cols-1 gap-x-6">
        <div class="last-word">
            <h3 class="mb-4">Few words about IndoAvocado</h3>
            <p>
                Feel free to contact us at anytime. we are available 24/7 and will reply you as soon as we can.
            </p>
        </div>
        <div class="contact-call flex md:justify-end md:mt-0 mt-8">
            <div>
                <h3 class="mb-4">Contact us at</h3>
                <p>(+62)87877242041</p>
                <p>(+62)8111978765</p>
            </div>
        </div>
        <div class="contact-socmed md:flex justify-end md:mt-0 mt-8">
            <div>
                <h3 class="mb-4">Our Social Media</h3>
                <div class="flex items-center">
                    <div (click)="handleWhatsappClicked()" class="socmed-icon bg-white">
                        <fa-icon [icon]="faWhatsapp" style="color: black !important;"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
