.navbar-primary {
    display: flex;
    align-items: center;
    padding: 1.5rem 5rem;
    text-transform: uppercase;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    transition: all 0.2s;

    &.active {
        background: white;
        color: black;
        transition: all 0.2s;
        padding: 0.5rem 5rem;

        a {
            padding: 0.25rem 0.75rem;
            color: black;
            transition: color 0.2s;
            font-weight: 600;

            &:hover {
                cursor: pointer;
                color: green;
            }
        }
    }

    a {
        padding: 0.25rem 0.75rem;
        color: white;
        transition: color 0.2s;
        font-weight: 600;

        &.active {
            color: green;
        }

        &:hover {
            cursor: pointer;
            color: black;
        }
    }

    @media (max-width: 640px) {
        display: none;
    }
}

.navbar-secondary {
    padding: 2rem 5rem;
    text-transform: uppercase;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    transition: all 0.2s;

    &.active {
        background: white;
        color: black;
        transition: all 0.2s;
        padding: 0.5rem 5rem;
    }
}

.bottom-navbar {
    border: 1px solid #f5f5f5;
    background: #fcfdff;
    padding: 8px 5px 5px 5px;

    .bottom-nav-item {
        text-align: center;
        color: #777;

        &.active {
            color: green;
        }

        .nav-icon {
            background: white;
            min-height: 28px;
            min-width: 28px;
            height: 28px;
            width: 28px;
        }
    }
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99999;
}

.jumbotron {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('/assets/jumbotron.jpeg') fixed center no-repeat;
    background-size: cover;
    padding-top: 14.75rem;
    padding-bottom: 17.5rem;
    color: white;
    width: 100%;

    @media screen and (width: 1024px) and (height: 1366px) {
        height: 50vh;
    }

    @media screen and (max-width: 375px) and (max-height: 667px){
        padding-top: 8rem;
    }

    @media screen and (max-width: 320px) {
        padding-top: 6rem;
    }

    .text-container {
        padding: 0 300px;

        @media (max-width: 768px) {
            padding: 0 50px;
        }

        @media screen and (min-width: 768px) and (max-width: 1024px) {
            padding: 0 100px;
        }

        h1 {
            font-size: 52px;
            font-weight: bold;
            text-transform: uppercase;

            @media (max-width: 1024px) {
                font-size: 30px;
            }
        }
    }
}

.introduction-section {
    background-color: #ededed;
    padding: 128px 150px;
    color: #777;
    line-height: 1.8rem;
    letter-spacing: -.05em;
    display: flex;

    @media (max-width: 768px) {
        padding: 64px 32px;
    }

    .intro-first {
        font-size: 1.2rem;
    }

    .intro-second {
        font-size: 1rem;
    }

    .introduction-images {
        position: relative;
        top: 10%;

        .image-1 {
            height: 148px;
            width: 164px;
            top: 10%;
            left: -60%;
            @media(max-width: 768px) {
                height: 200px;
                width: 250px;
            }

            @media screen and (min-width: 769px) and (max-width: 1280px){
                width: 400px;
                height: 350px;
            }
        }

        .image-2 {
            width: 212px;
            height: 168px;
            top: -29%;
            left: -33%;
        }

        .image-3 {
            height: 268px;
            width: 295px;
            @media (max-width: 1280px) {
                width: 212px;
                height: 168px;
            }
        }
    }
}

.bottom-navbar {
    border: 1px solid #f5f5f5;
    background: #fcfdff;

    .nav-item {
        text-align: center;
        color: #777;

        &.active {
            color: green;
        }

        .nav-icon {
            background: white;
            font-size: 24px;
        }
    }
}

.product-section {
    padding: 100px 150px;

    @media (max-width: 768px) {
        padding: 64px 32px;
    }

    .product-child {
        margin-bottom: 80px;

        &:last-child {
            margin: 0;
        }
    }

    .desc-wrapper {
        padding: 0 40px;

        @media (max-width: 1024px) {
            padding: 0;
        }

        .desc-title {
            color: #c1cace;
            font-size: 24px;
            font-weight: 600;

            &.active {
                color: green;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .desc-text {
            h2 {
                font-weight: 600;
                font-size: 30px;
                margin-bottom: 15px;
            }

            p {
                color: #777;
                font-size: 1rem;
                line-height: 1.7rem;
            }
        }
    }
}

.faq-section {
    padding: 0px 150px 100px 150px;

    h1 {
        font-size: 40px;
        font-weight: 600;
    }

    p {
        color: #777;
        font-weight: 500;
    }

    @media (max-width: 768px) {
        padding: 0 32px 64px 32px;
    }

    .accordion {
        color: #777;
        font-weight: 600;
        cursor: pointer;
        padding: 20px 0;
        width: 100%;
        text-align: left;
        font-size: 20px;
        transition: all 0.4s;
        border-top: 1px solid #777;
        display: flex;

        .chevron-icon {
            transition: all 0.4s;
            &.active {
                -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
    }

    .panel {
        padding: 0;
        background-color: white;
        overflow: hidden;
        max-height: 0px;
        transition: max-height 0.2s ease-out;
        &.active {
            padding: 0 0 18px 0;
        }
    }
}

.footer {
    padding: 100px 150px;
    background: #113448;
    color: white;

    @media (max-width: 768px) {
        padding: 64px 32px;
    }

    .last-word {
        h3 {
            font-size: 20px;
            font-weight: 700;
        }

        p {
            font-size: 16px;
            font-weight: 500;
        }
    }

    .contact-call {
        h3 {
            font-size: 20px;
            font-weight: 700;
        }

        p {
            font-size: 24px;
            font-weight: 700;
        }
    }

    .contact-socmed {
        h3 {
            font-size: 20px;
            font-weight: 700;
        }

        .socmed-icon {
            border-radius: 100px;
            width: 40px;
            height: 40px;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                cursor: pointer;
            }
        }
    }
}
